.galleryTitle--layout {
  color: #4ED705;
}

.totalProducts--layout {
  color: #4ED705;
}

.totalProductsMessage {
  color: #4ED705;
}

.filterTitle {
  color: #fff;
}

.filterMessage {
  color: #fff;
}

.orderByText {
  color: #fff;
}

.filterTemplateOverflow {
  color: #fff;
}
